*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body
{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 60px 650px 450px 400px 50px;
grid-template-areas: 'header header'
                     'main main'
                     'main main'
                     'main main'
                     'footer footer';
height: 100vh;
row-gap: 20px;
}

.hero
{
grid-area: header;
display: grid;
grid-template-columns: 1fr 3fr;
grid-template-areas: 'nombre listas';
}

.hero h1
{
grid-area: nombre;
font-size:35px;
font-family:cursive;
background-color: rgb(0, 148, 0);
color: white;
text-align: center;
}

.hero ul
{
grid-area: listas;
text-align:center;
background-color:darkgreen;
color: white;
padding-top: 7px;
}

.hero li
{
display: inline;
font-size:x-large;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 10px;
}

.main
{
grid-area: main;
display: grid;
grid-template-columns: 1.7fr 1fr;
grid-template-rows: 650px 450px 400px;
grid-template-areas: 'aside section'
                     'figure div1'
                     'articulo div2'; 
gap: 15px;  
}

.article{
    grid-area: articulo;
    padding: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.figure{
    grid-area: figure;
    background-image: url(https://images.unsplash.com/photo-1525252935900-333f50beecb2?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQwfEpwZzZLaWRsLUhrfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: contain;
    background-repeat: no-repeat;
}
.div1{
    grid-area: div1;
    
}

.div2
{
grid-area: div2;    
}

.aside 
{
grid-area: aside;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 325px 325px;
gap: 1.2rem;
}

/* Elemento creado */
.producto {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1.5rem;
}

.producto img {
    width:100%;
    height: 250px;
    align-self:center;
    border-radius: 25px;  
}

.producto p {
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: dimgray;
}

.section
{
grid-area: section;
background-image: url(https://images.unsplash.com/photo-1528301725143-1ba694832e77?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDExOXxKcGc2S2lkbC1Ia3x8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
background-repeat: no-repeat;
}

.footer
{
grid-area: footer;
background-color: dimgray;
padding-top: 7px; 
}

.footer li
{
display:inline;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
padding-left: 10px;   
}

@media(max-width:600px){
body
{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 60px 60px 420px 450px 450px 450px 450px 450px 50px;
grid-template-areas: 'header'
                     'header'
                     'main'
                     'main'
                     'main'
                     'main'
                     'main'
                     'main'
                     'footer';
height: 100vh;
}
.hero
{
grid-area: header;
display: grid;
grid-template-columns: 1fr;
grid-template-rows:60px 60px;
grid-template-areas: 'nombre'
                     'listas';
}
.hero li{
    font-size:medium;
}
.main
{
grid-area: main;
display: grid;
grid-template-columns: 1fr ;
grid-template-rows:420px 450px 400px;
grid-template-areas: 'aside'
                     'section'
                     'articulo'
                     'div1'
                     'figure'
                     'div2'; 
}

.aside{
grid-area: aside;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 210px 210px;
gap: 1rem;
}

.producto{
height: 200px;
}

.producto img{
height: 150px;
}

.article
{
font-size: small;    
}

.footer{
grid-area: footer;    
}

.footer li{
    font-size:small;
}
}

